.featureimagegrid {
    margin:5px 10px;
    -moz-box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    -webkit-box-shadow: 4px 8px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

.featureimagegrid-content {
    padding:5px;
}
