.featureimagelisting-row {
    border-top: 1px solid #ddd;
}

.featureimagelisting-row td {
    padding:10px;
    vertical-align:top;
}

.portletFeaturePortlet h3 {
    font-size: 15px;
}

.portletFeaturePortlet h4 {
    font-size: 13px;
}

.portletFeaturePortlet img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.datelocation {
    font-weight: bold;
    color: rgb(128, 0, 0);


}
.date-location-size {
    font-size: 14px;
    font-weight: bold;
}

.newsImageContainer > p > * {

    color:white;
    }

.featureportlet-image-link img {
    margin-bottom: 0 !important;
}    

.eventlisting-location {
    display: block;
    font-size: 14px;
}

.event-listing-title {
    margin: 0 0 10px 0;
}
